@keyframes slideInLeft {
    0% { transform: translateX(-100%); opacity: 0; }
    100% { transform: translateX(-100%); opacity: 0.2; }
    100% { transform: translateX(-100%); opacity: 0.4; }
    100% { transform: translateX(-100%); opacity: 0.6; }
    100% { transform: translateX(-100%); opacity: 0.8; }
    100% { transform: translateX(-100%); opacity: 0.9; }
    100% { transform: translateX(0); opacity: 1; }
  }
  
  @keyframes zoomInOut {
    0% { transform: scale(1); } 
    50% { transform: scale(0.98); } 
    100% { transform: scale(1); } 
  }
 
.tbb{
    background-color: rgb(220, 220, 220);
    border: none;;
    border-radius: 6px;
    width:385px;
    margin-top: 20px;
    margin-left: .3rem;
    animation: slideInLeft 1s forwards;
    transition: background-color 0.5s ease;
    display: flex;

}

.textbox{
    animation: slideInLeft 1s forwards;
    padding: 20px;
    width: 328px;
    border-radius: 6px;
    background-color: rgb(220, 220, 220);
    border: none;
    height: 5px;
    outline: none;
    transition: background-color 0.5s ease;
     border: 2px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}
.textbox::placeholder {
    font-size: 18px; 
    color: #787575; 
  }
  .textbox:hover {
    background-color: #ffffff; 
    border: none;
    height: 5px;
  }
.tbb:hover {
    background-color: #ffffff; 
    border: none;
    
  }  
  .fetchlocation{
    background-image: url('li5.png');
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    margin-left: 8px;

  
  }
  .prebox{
    animation: slideInLeft 1s forwards, zoomInOut 1s infinite;

  }
  .textbox-highlight {
    border: 2px solid #007bff; /* Change border color for highlight */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Optional shadow for emphasis */
  }

  



  
